 




@media only screen and (max-width:1140px){
   .nav-list{
     flex-direction:column;
 }
   .navbar{
     flex-direction:column;
     transition: all 0.7s ease-out;
     height:447px;
 }
   .rightNav{
     text-align:center;
 } 
   #search{
     width:100%;
 }
   .burger{
      display: block;
 }
   .h-nav{
      height: 72px;
 }
   .v-class{
    opacity: 0;
 } 
   .box-main{
       flex-direction:column-reverse;
       width:100%;
 }
    .section{
         flex-direction: column-reverse;
  }
     .text-small{
         text-align:center;
} 
   .text-big{
         text-align:center;
} 
   .buttons{
         text-align:center;
} 
   .paras{
       padding:20px ;

}
     .product{
          height:3900px;
          

}
table,th,td{
     display:block;
     margin-bottom:55px;     
}
.form-input{
    width:55%;
}

}

