 
*{
   margin:0;
   padding:0;
}
body{
     font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.background{
     background: rgba(0,0,0,0.7)url('image/back.avif'); 
     background-size:cover;
     background-blend-mode:darken;
} 
h1 {
   font-family: "Momo Signature", cursive;
   
}
html{
   scroll-behavior:smooth;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    Position:sticky;
    top:0;
    cursor:pointer;
    height:80px;
    }

.nav-list{
    width:70%;
    display:flex;
    align-items:center;
 }
.nav-list li{
     list-style:none;
     padding: 26px 30px;
}

.nav-list li a{
   text-decoration:none;
   color:white;
   font-size:20px;
}
.nav-list li a:hover{
     color:gray;
}


.rightNav{
     width:30%;
    text-align:right;
    padding:0 23px;
}
.logo{
     width:20%;
     display: flex;
     justify-content:center;
     align-items:center;
}
#search{
    padding:5px;
    font-size:16px;
    border:2px solid black;
    border-radius:9px;
}

.firstSection{
       height:100vh;
}
.box-main{
      display:flex;
      justify-content:center;
      align-items:center;
      color:white;
      max-width:50%;
      margin:auto;
      height:80%;
}
      
.firstHalf{
    width:75%;
    display:flex;
    justify-content:center;
    flex-direction: column;

  }


.secondHalf{
    width:30%;
 } 

.text-big{
    font-size:41px;
 }
.text-small{
    font-size:18px;

}  

.btn {
    padding:8px 20px;
    margin:7px 3px;
    border-radius:8px;
    background:none;
    color:white;
    cursor:pointer;
    border: 2px solid white;
}
.btn-sm{
     padding:6px 10px;
     vertical-align:middle;
     margin: 60px 60px;
}

.btn-dark{
    color:black;
    border: 2px solid gray;
    margin-left:100px;
}
.section{
    
    display:flex;
    align-items:center;
    justify-content:center;
    max-width:80%;
    margin: 10px auto ;
     
}
.paras{
   padding:80px 65px;
}

.left{
   flex-direction: row-reverse;
   
   
    }
.left-back{
   background: linear-gradient(rgba(255, 253, 253, 0.899), rgba(255, 255, 255, 0.86)),
            url('image/ico.jpg') no-repeat center/cover;
   
}
.tumbnail img{
    z-index:8;
}

.contact{
      background-color:#f6f5f4;
      height:600px;
     
}
.form{
    max-width:1200px;
    margin: 30px auto;
}
.form-input{
     width:80%;
     font-size:15px;
     border: 2px solid gray;
     border-radius:6px;
     margin:7px 100px;
     padding:5px 13px;
}

.burger{
    position:absolute;
    cursor:pointer;
    right:5%;
    top:15px;
    display: none;
    
}

.line{
    width:33px;
    background-color:white;
    height:4px;
    margin:5px 3px;
}

.product{
    background-color:rgba(229, 233, 233, 0.534);
    height:1500px;
    
    
}
.product img{
    width:350px;
    height:320px;
}
.table-responsive{
     overflow-x:auto;
}

 th,td{
    padding:60px 60px 60px 60ppx;
    border:0;
} 



@media only screen and (max-width:1140px){
   .nav-list{
     flex-direction:column;
 }
   .navbar{
     flex-direction:column;
     transition: all 0.7s ease-out;
     height:447px;
 }
   .rightNav{
     text-align:center;
 } 
   #search{
     width:100%;
 }
   .burger{
      display: block;
 }
   .h-nav{
      height: 72px;
 }
   .v-class{
    opacity: 0;
 } 
   .box-main{
       flex-direction:column-reverse;
       width:100%;
 }
    .section{
         flex-direction: column-reverse;
  }
     .text-small{
         text-align:center;
} 
   .text-big{
         text-align:center;
} 
   .buttons{
         text-align:center;
} 
   .paras{
       padding:20px ;

}
     .product{
          height:3900px;
          

}
table,th,td{
     display:block;
     margin-bottom:55px;     
}
.form-input{
    width:55%;
}

}

