*{
   margin:0;
   padding:0;
}
body{
     font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.background{
     background: rgba(0,0,0,0.7)url('image/back.avif'); 
     background-size:cover;
     background-blend-mode:darken;
} 
h1 {
   font-family: "Momo Signature", cursive;
   
}
html{
   scroll-behavior:smooth;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    Position:sticky;
    top:0;
    cursor:pointer;
    height:80px;
    }

.nav-list{
    width:70%;
    display:flex;
    align-items:center;
 }
.nav-list li{
     list-style:none;
     padding: 26px 30px;
}

.nav-list li a{
   text-decoration:none;
   color:white;
   font-size:20px;
}
.nav-list li a:hover{
     color:gray;
}


.rightNav{
     width:30%;
    text-align:right;
    padding:0 23px;
}
.logo{
     width:20%;
     display: flex;
     justify-content:center;
     align-items:center;
}
#search{
    padding:5px;
    font-size:16px;
    border:2px solid black;
    border-radius:9px;
}

.firstSection{
       height:100vh;
}
.box-main{
      display:flex;
      justify-content:center;
      align-items:center;
      color:white;
      max-width:50%;
      margin:auto;
      height:80%;
}
      
.firstHalf{
    width:75%;
    display:flex;
    justify-content:center;
    flex-direction: column;

  }


.secondHalf{
    width:30%;
 } 

.text-big{
    font-size:41px;
 }
.text-small{
    font-size:18px;

}  

.btn {
    padding:8px 20px;
    margin:7px 3px;
    border-radius:8px;
    background:none;
    color:white;
    cursor:pointer;
    border: 2px solid white;
    transition: all 0.3s ease;
}
.btn-sm{
     padding:6px 10px;
     vertical-align:middle;
     margin: 60px 60px;
}

.btn-dark{
    color:black;
    border: 2px solid gray;
    margin-left:100px;
   
   
    width:50px;
   
}
.section{
    
    display:flex;
    align-items:center;
    justify-content:center;
    max-width:80%;
    margin: 10px auto ;
     
}
.paras{
   padding:80px 65px;
}

.left{
   flex-direction: row-reverse;
   
   
    }
.left-back{
   background: linear-gradient(rgba(255, 253, 253, 0.899), rgba(255, 255, 255, 0.86)),
            url('image/ico.jpg') no-repeat center/cover;
   
}
.tumbnail img{
    z-index:8;
}

.contact{
       background-color: #f5f5f5;
      height:600px;
     
}
.form{
    max-width:1200px;
    margin: 30px auto;
}
.form-input{
     width:40%;
     font-size:15px;
     border: 2px solid gray;
     border-radius:6px;
     margin:7px 100px;
     padding:5px 13px;
}

.burger{
    position:absolute;
    cursor:pointer;
    right:5%;
    top:15px;
    display: none;
    
}

.line{
    width:33px;
    background-color:white;
    height:4px;
    margin:5px 3px;
}

.product{
    background-color:rgba(229, 233, 233, 0.534);
    height:1900px;
    
    
}
.product img{
    width:300px;
    height:310px;
}
.product h2{
    font-size:20px;
    padding-top:10px;
}
.product p{
    color:gray;
}
.table-responsive{
     overflow-x:auto;
}

 th,td{
    padding:60px 60px 60px 60ppx;
    border:0;
} 

.one{
    width:70%;
    height:500px;
    border: 2px solid rgb(205, 202, 202);
    padding:10px;
    border-radius: 10px;
}
.btn-yellow{
    background-color: rgb(255, 193, 7);
    color:black;
    margin-top: 60px;
    
}
.btn-green{
    color:black;
    border: 1px solid gray;
}
.btn:active {
  transform: scale(0.95);
   box-shadow: 0 2px 0 #3c3c3c;
}